<div id="toast-container"></div>

{{#if dish}}
<div x-data='{
    dish: {{json dish}},
    chooseSeason: 0,

    get getLastEpisodeTitle() {
      // if there is no season, or season no episode 
      if (this.dish.seasons.length === 0 || this.dish.seasons[this.chooseSeason].episodes.length === 0) {
        return "Đang cập nhật";
      }

      return this.dish.seasons[this.chooseSeason].episodes.slice(-1)[0].title;
    }
  }'>


  <div class="p-2 shadow-md rounded-md bg-base-200 my-2">
    <h2 class=" text-xl font-bold mb-1 text-center">{{dish.title}}</h2>
    <div class="grid grid-cols-1 md:grid-cols-5 mb-2">
      <div class="col-span-1 overflow-hidden">
        <img src="{{dish.image}}"
          class="w-full object-contain transform hover:scale-110 transition-transform duration-400" alt="" />
      </div>
      <div class="col-span-4 p-2 flex flex-col relative">
        {{!-- {{#ifEquals user.role "admin"}}
        <div id="filmAdmin">
          <span onclick="editFilmClickHandler()"
            class="p-2 bg-fuchsia-600 hover:bg-opacity-80 transition cursor-pointer text-white absolute rounded-lg right-0 top-0">
            Chỉnh sửa
          </span>
        </div>

        {{/ifEquals}} --}}
        <div class="flex flex-col divide-y divide-base-300" {{#ifEquals user.role "admin" }} id="filmEditForm"
          {{/ifEquals}}>
          <p class="p-2 text-base-content text-lg">{{dish.title}} - {{dish.englishTitle}}</p>
          {{!-- <div class="p-2 text-base-content">Mới cập nhật:
            <a class="halim-episode" href="/dishes/{{dish.slug}}"><span
                class="bg-pink-200 dark:bg-pink-300 p-2 hover:bg-opacity-80 text-black shadow-sm font-bold rounded transition duration-300"
                x-text="getLastEpisodeTitle">

              </span></a>

          </div> --}}
          {{!-- <div class="p-2 text-base-content">
            Tình trạng:
            <span class="font-bold">
              {{#switch dish.status}}
              {{#case "in-progress"}}
              Trong tiến độ
              {{/case}}
              {{#case "completed"}}
              Hoàn thành
              {{/case}}
              {{#case "dropped"}}
              Dropped
              {{/case}}
              {{/switch}}
            </span>
          </div> --}}
          {{!-- <div class="p-2 text-base-content">
            <span class="title-year">Năm:
              <a href="/release/{{releaseYear}}/" rel="tag" class="font-bold">{{dish.releaseYear}}</a></span>
          </div> --}}
          <div class="p-2 text-base-content">Thể loại:
            {{#each dish.categories}}

            <a href="/categories/{{slug}}/" rel="tag"
              class="inline-block p-1 bg-rose-400 text-white rounded hover:bg-success transition duration-300 font-bold hover:bg-opacity-80"
              title="{{description}}">{{title}}</a>

            {{/each}}
          </div>
          <div class="p-2">Quốc gia: <a href="/country/my" title="Mỹ" class="font-bold">Mỹ</a></div>

          {{!-- Overview --}}
          <div class="p-2">
            <i class="fas fa-star">
            </i>
            {{#with dish.rating}}
            {{dish.rating}}<i> / </i>5
            {{else}}
            Chưa có đánh giá
            {{/with}}
          </div>
          <div class="p-2">
            <i class="fas fa-comment">
            </i>
            {{!-- count --}}
            {{#with @root/comments}}
            {{@root/comments.length}} bình luận
            {{else}}
            Chưa có bình luận
            {{/with}}
          </div>
        </div>
      </div>
    </div>

    <div id={{@root/user.username}} class="flex justify-center my-2 gap-2">
      <div id="{{@root/user.username}}-Child">
        {{!-- Button add to favorite --}}
        {{#unless isFavorite}}
        <button class="p-2 bg-fuchsia-600 hover:bg-opacity-80 transition cursor-pointer text-white rounded-lg"
          onclick="addToFavorite('{{dish.slug}}')">
          <i class="fas fa-heart"></i>
          Thêm vào yêu thích
        </button>
        {{else}}
        {{!-- Remove from favorite --}}
        <button class="p-2 bg-rose-400 hover:bg-opacity-80 transition cursor-pointer text-white rounded-lg"
          onclick="removeFromFavorite('{{dish.slug}}')">
          <i class="fas fa-heart"></i>
          Xóa khỏi yêu thích
        </button>
        {{/unless}}
      </div>
      {{!-- button to admin --}}
      {{#ifEquals user.role "admin"}}
      <a class="p-2 bg-fuchsia-600 hover:bg-opacity-80 transition cursor-pointer text-white rounded-lg"
        href="/admin/dishes/{{dish.slug}}/edit">
        <i class="fas fa-edit"></i>
        Chỉnh sửa
      </a>
      {{/ifEquals}}
    </div>

    <h2 class="text-xl font-bold mt-4 text-center">Mô tả</h2>
    <p class="px-2" id="description">
      {{{dish.description}}}
    </p>
  </div>


</div>
{{>comment}}
<script>
  const desc = document.querySelector("#description"); 
  const fullText =
    desc.textContent; const clamped = desc.textContent.slice(0, 500) + '...';
    desc.textContent = clamped; desc.textContent += "..."; 
    let show = false;
    desc.addEventListener("click", () => {
      show = !show; if (show) {
      desc.textContent = fullText; return;
    } desc.textContent = clamped;
  });

</script>

<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl mb-1">Review cùng chuyên mục</h2>
  {{> carousel barId="phimMoi" slidesPerView="4" items=newSingleMovies}}
</div>
<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl mb-1">Review random</h2>
  {{> carousel barId="phimBoRandom" slidesPerView=4 items=randomMovies}}
</div>
{{/if}}

{{!-- <script id="toast-success" type="text/x-handlebar">
  <div class="toast flex items-center justify-between max-w-xs p-4 bg-white border rounded-md shadow-sm fixed top-20 right-5">
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-green-500" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
          clip-rule="evenodd" />
      </svg>
      <p class="ml-3 text-sm font-bold text-green-600">\{{ message }}</p>
    </div>
  </div>
</script> --}}

<script id="toast-error" type="text/x-handlebar">
  <div class="toast flex items-center justify-between max-w-xs p-4 bg-white border rounded-md shadow-sm fixed top-20 right-5">
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-red-600" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
          clip-rule="evenodd" />
      </svg>
      <p class="ml-3 text-sm font-bold text-red-600">\{{ message }}</p>
    </div>
  </div>
</script>

<script id="addFavorite" type="text/x-handlebar">
<div id="\{{ username }}-Child">
  <button class="p-2 bg-fuchsia-600 hover:bg-opacity-80 transition cursor-pointer text-white rounded-lg"
    onclick="addToFavorite('\{{slug}}')">
    <i class="fas fa-heart"></i>
    Thêm vào yêu thích
  </button>
</div>
</script>

<script id="removeFavorite" type="text/x-handlebar">
<div id="\{{ username }}-Child">
  <button class="p-2 bg-rose-400 hover:bg-opacity-80 transition cursor-pointer text-white rounded-lg"
    onclick="removeFromFavorite('\{{slug}}')">
    <i class="fas fa-heart"></i>
    Xóa khỏi yêu thích
  </button>
</div>
</script>

<script>
    function notify(message, type) {
    if (type) {
      const template = Handlebars.compile($('#toast-success').html());
      const html = template({
        message: message
      });
      $('#toast-container').append(html);
    } else {
      const template = Handlebars.compile($('#toast-error').html());
      const html = template({
        message: message
      });
      $('#toast-container').append(html);
    }
  }

  function editFilmClickHandler(e) {
    // turn all p to input
    $("#filmEditForm").find("p").each(function () {
      $(this).replaceWith(`<input type="text" name="${$(this).attr("name")}" value="${$(this).text()}">`);
    });
  }

  function addToFavorite(slug) {
    $.ajax({
      url: "/favorites",
      type: "POST",
      data: {
        slug: slug,
        _csrf: `{{ _csrfToken }}`
      },
      success: function (res) {
        if (res.success) {
          notify(res.message, res.success);
          const template = Handlebars.compile($('#removeFavorite').html());
          const html = template({
            slug: res.slug,
            username: '{{@root/user.username}}',
          });
          $('#' + '{{@root/user.username}}' + "-Child").remove();
          $('#' + '{{@root/user.username}}').prepend(html);
        } else {
          notify(res.message, res.success)
        }
      }
    });
  }
  function removeFromFavorite(slug) {
    $.ajax({
      url: "/favorites",
      type: "DELETE",
      data: {
        slug: slug,
        _csrf: `{{ _csrfToken }}`
      },
      success: function (res) {
        if (res.success) {
          notify(res.message, res.success);
          const template = Handlebars.compile($('#addFavorite').html());
          const html = template({
            slug: res.slug,
            username: '{{@root/user.username}}',
          });
          $('#' + '{{@root/user.username}}' + "-Child").remove();
          $('#' + '{{@root/user.username}}').prepend(html);
        } else {
          notify(res.message, data.success)
        }
      }
    });
  }
</script>

<style>
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(-100% + 5px));
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  .toast {
    animation: slideInLeft ease .3s, fadeOut linear 1s 3s forwards;
  }
</style>

